.u-section-1 .u-sheet-1 {
  min-height: 1280px;
}

.u-section-1 .u-products-1 {
  height: auto;
  margin: 158px auto 60px 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  grid-gap: 0px 0px;
  min-height: 1028px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  height: 308px;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 2px;
}

.u-section-1 .u-group-1 {
  width: 273px;
  min-height: 203px;
  background-size: auto;
  height: auto;
  margin: -57px auto 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 20px 10px;
}

.u-section-1 .u-text-1 {
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  font-weight: 800;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 20px auto 0 20px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  height: 308px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-group-2 {
  width: 273px;
  min-height: 203px;
  background-size: auto;
  height: auto;
  margin: -57px auto 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 20px 10px;
}

.u-section-1 .u-text-3 {
  margin: 0 auto;
}

.u-section-1 .u-text-4 {
  font-weight: 800;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 20px auto 0 20px;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-image-3 {
  height: 308px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-group-3 {
  width: 273px;
  min-height: 203px;
  background-size: auto;
  height: auto;
  margin: -57px auto 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 20px 10px;
}

.u-section-1 .u-text-5 {
  margin: 0 auto;
}

.u-section-1 .u-text-6 {
  font-weight: 800;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 20px auto 0 20px;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px;
}

.u-section-1 .u-image-4 {
  height: 308px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-group-4 {
  width: 273px;
  min-height: 203px;
  background-size: auto;
  height: auto;
  margin: -57px auto 0;
}

.u-section-1 .u-container-layout-8 {
  padding: 20px 10px;
}

.u-section-1 .u-text-7 {
  margin: 0 auto;
}

.u-section-1 .u-text-8 {
  font-weight: 800;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-4 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 20px auto 0 20px;
}

.u-section-1 .u-container-layout-9 {
  padding: 30px;
}

.u-section-1 .u-image-5 {
  height: 308px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-group-5 {
  width: 273px;
  min-height: 203px;
  background-size: auto;
  height: auto;
  margin: -57px auto 0;
}

.u-section-1 .u-container-layout-10 {
  padding: 20px 10px;
}

.u-section-1 .u-text-9 {
  margin: 0 auto;
}

.u-section-1 .u-text-10 {
  font-weight: 800;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-5 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 20px auto 0 20px;
}

.u-section-1 .u-container-layout-11 {
  padding: 30px;
}

.u-section-1 .u-image-6 {
  height: 308px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-group-6 {
  width: 273px;
  min-height: 203px;
  background-size: auto;
  height: auto;
  margin: -57px auto 0;
}

.u-section-1 .u-container-layout-12 {
  padding: 20px 10px;
}

.u-section-1 .u-text-11 {
  margin: 0 auto;
}

.u-section-1 .u-text-12 {
  font-weight: 800;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-6 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 20px auto 0 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1100px;
  }

  .u-section-1 .u-products-1 {
    margin-top: 124px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-1 {
    width: 213px;
    height: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-group-2 {
    width: 213px;
    height: auto;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-group-3 {
    width: 213px;
    height: auto;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-group-4 {
    width: 213px;
    height: auto;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-group-5 {
    width: 213px;
    height: auto;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-group-6 {
    width: 213px;
    height: auto;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-btn-6 {
    margin-right: 0;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 50% 50%;
  }

  .u-section-1 .u-group-1 {
    width: 227px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: auto;
  }

  .u-section-1 .u-group-2 {
    width: 227px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: auto;
  }

  .u-section-1 .u-group-3 {
    width: 227px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: auto;
  }

  .u-section-1 .u-group-4 {
    width: 227px;
  }

  .u-section-1 .u-btn-4 {
    margin-right: auto;
  }

  .u-section-1 .u-group-5 {
    width: 227px;
  }

  .u-section-1 .u-btn-5 {
    margin-right: auto;
  }

  .u-section-1 .u-group-6 {
    width: 227px;
  }

  .u-section-1 .u-btn-6 {
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-products-1 {
    margin-top: 149px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    height: 447px;
  }

  .u-section-1 .u-group-1 {
    width: 386px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    height: 447px;
  }

  .u-section-1 .u-group-2 {
    width: 386px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-3 {
    height: 447px;
  }

  .u-section-1 .u-group-3 {
    width: 386px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-4 {
    height: 447px;
  }

  .u-section-1 .u-group-4 {
    width: 386px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-5 {
    height: 447px;
  }

  .u-section-1 .u-group-5 {
    width: 386px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-6 {
    height: 447px;
  }

  .u-section-1 .u-group-6 {
    width: 386px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    height: 299px;
  }

  .u-section-1 .u-group-1 {
    width: 275px;
    margin-top: -53px;
  }

  .u-section-1 .u-image-2 {
    height: 299px;
  }

  .u-section-1 .u-group-2 {
    width: 275px;
    margin-top: -53px;
  }

  .u-section-1 .u-image-3 {
    height: 299px;
  }

  .u-section-1 .u-group-3 {
    width: 275px;
    margin-top: -53px;
  }

  .u-section-1 .u-image-4 {
    height: 299px;
  }

  .u-section-1 .u-group-4 {
    width: 275px;
    margin-top: -53px;
  }

  .u-section-1 .u-image-5 {
    height: 299px;
  }

  .u-section-1 .u-group-5 {
    width: 275px;
    margin-top: -53px;
  }

  .u-section-1 .u-image-6 {
    height: 299px;
  }

  .u-section-1 .u-group-6 {
    width: 275px;
    margin-top: -53px;
  }
}
